<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="id" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="DeviceAssembly_form_edit" 
        service="DeviceAssembly" 
        entity="DeviceAssembly" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-list-picker 
        attr="device_id"
        service="Device" 
        entity="DeviceType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;device_id;model_name" 
        title="device_id"
        visible-columns="id;model_name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="equipment_id"
        service="Equipment" 
        entity="EquipmentType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;equipment_id;equipment_name" 
        title="equipment_id"
        visible-columns="id;equipment_name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="operator_id"
        service="Operator" 
        entity="OperatorType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;operator_id;first_name" 
        title="operator_id"
        visible-columns="id;first_name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-list-picker 
        attr="step_id"
        service="ManufacturingStep" 
        entity="ManufacturingStepType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;step_id;step_name" 
        title="step_id"
        visible-columns="id;step_name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-text-input #completed attr="completed" label="completed" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ADHESIVEUSAGE-device_assembly_id">
    <div layout-padding>
      <o-table 
        attr="AdhesiveUsageTable" 
        service="AdhesiveUsage" 
        entity="AdhesiveUsage" 
        keys="id"
        parent-keys="device_assembly_id:id"
        columns="id;device_assembly_id;lot_id;quantity_used"  
        horizontal-scroll="yes"
        detail-form-route="AdhesiveUsage" 
        edit-form-route="AdhesiveUsage"
        visible-columns="id;device_assembly_id;lot_id;quantity_used"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="device_assembly_id" title="device_assembly_id">
    <o-table-cell-renderer-service attr="device_assembly_id" 
        service="DeviceAssembly" entity="DeviceAssemblyType" columns="id;id"
        parent-keys="id:device_assembly_id"
        value-column="id" keys="device_assembly_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="lot_id" title="lot_id">
    <o-table-cell-renderer-service attr="lot_id" 
        service="Lot" entity="LotType" columns="id;id"
        parent-keys="id:lot_id"
        value-column="id" keys="lot_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #quantity_used attr="quantity_used" title="quantity_used" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>