<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="model_name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Device_form_edit" 
        service="Device" 
        entity="Device" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #model_name attr="model_name" label=" model_name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #serial_number attr="serial_number" label="serial_number" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="DEVICEASSEMBLY-device_id">
    <div layout-padding>
      <o-table 
        attr="DeviceAssemblyTable" 
        service="DeviceAssembly" 
        entity="DeviceAssembly" 
        keys="id"
        parent-keys="device_id:id"
        columns="id;device_id;equipment_id;operator_id;step_id;completed"  
        horizontal-scroll="yes"
        detail-form-route="DeviceAssembly" 
        edit-form-route="DeviceAssembly"
        visible-columns="id;device_id;equipment_id;operator_id;step_id;completed"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="device_id" title="device_id">
    <o-table-cell-renderer-service attr="device_id" 
        service="Device" entity="DeviceType" columns="id;model_name"
        parent-keys="id:device_id"
        value-column="model_name" keys="device_id"
        visible-columns="model_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="equipment_id" title="equipment_id">
    <o-table-cell-renderer-service attr="equipment_id" 
        service="Equipment" entity="EquipmentType" columns="id;equipment_name"
        parent-keys="id:equipment_id"
        value-column="equipment_name" keys="equipment_id"
        visible-columns="equipment_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="operator_id" title="operator_id">
    <o-table-cell-renderer-service attr="operator_id" 
        service="Operator" entity="OperatorType" columns="id;first_name"
        parent-keys="id:operator_id"
        value-column="first_name" keys="operator_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="step_id" title="step_id">
    <o-table-cell-renderer-service attr="step_id" 
        service="ManufacturingStep" entity="ManufacturingStepType" columns="id;step_name"
        parent-keys="id:step_id"
        value-column="step_name" keys="step_id"
        visible-columns="step_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #completed attr="completed" title="completed" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="INSPECTION-device_id">
    <div layout-padding>
      <o-table 
        attr="InspectionTable" 
        service="Inspection" 
        entity="Inspection" 
        keys="id"
        parent-keys="device_id:id"
        columns="id;device_id;inspection_date;passed"  
        horizontal-scroll="yes"
        detail-form-route="Inspection" 
        edit-form-route="Inspection"
        visible-columns="id;device_id;inspection_date;passed"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="device_id" title="device_id">
    <o-table-cell-renderer-service attr="device_id" 
        service="Device" entity="DeviceType" columns="id;model_name"
        parent-keys="id:device_id"
        value-column="model_name" keys="device_id"
        visible-columns="model_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #inspection_date attr="inspection_date" type="timestamp" label="inspection_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #passed attr="passed" title="passed" editable="no" required="yes" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="PACKAGING-device_id">
    <div layout-padding>
      <o-table 
        attr="PackagingTable" 
        service="Packaging" 
        entity="Packaging" 
        keys="id"
        parent-keys="device_id:id"
        columns="id;device_id;packaging_type;packaging_date"  
        horizontal-scroll="yes"
        detail-form-route="Packaging" 
        edit-form-route="Packaging"
        visible-columns="id;device_id;packaging_type;packaging_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="device_id" title="device_id">
    <o-table-cell-renderer-service attr="device_id" 
        service="Device" entity="DeviceType" columns="id;model_name"
        parent-keys="id:device_id"
        value-column="model_name" keys="device_id"
        visible-columns="model_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #packaging_type attr="packaging_type" title="packaging_type" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-date-input #packaging_date attr="packaging_date" type="timestamp" label="packaging_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="REWORK-device_id">
    <div layout-padding>
      <o-table 
        attr="ReworkTable" 
        service="Rework" 
        entity="Rework" 
        keys="id"
        parent-keys="device_id:id"
        columns="id;device_id;operator_id;rework_date;completed"  
        horizontal-scroll="yes"
        detail-form-route="Rework" 
        edit-form-route="Rework"
        visible-columns="id;device_id;operator_id;rework_date;completed"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="device_id" title="device_id">
    <o-table-cell-renderer-service attr="device_id" 
        service="Device" entity="DeviceType" columns="id;model_name"
        parent-keys="id:device_id"
        value-column="model_name" keys="device_id"
        visible-columns="model_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="operator_id" title="operator_id">
    <o-table-cell-renderer-service attr="operator_id" 
        service="Operator" entity="OperatorType" columns="id;first_name"
        parent-keys="id:operator_id"
        value-column="first_name" keys="operator_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #rework_date attr="rework_date" type="timestamp" label="rework_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #completed attr="completed" title="completed" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>